:host {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--primary);
  height: 3rem;
  border-radius: var(--br);
  border: 3px solid var(--secondary);
  box-sizing: border-box;
}

.main {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.aside {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 300px;

}

.footer {
  width: 100%;
  margin-top: auto;
  box-sizing: border-box;
  height: 3rem;
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  border-radius: var(--br);
  border: 3px solid var(--secondary);
}
