:host {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;

  min-height: 100%;
  box-sizing: border-box;

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--primary);
  height: 3rem;
  border-radius: var(--br);
  border: 3px solid var(--secondary);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  gap: 3px;
}

.content {
  min-width: var(--min-table-size);
  min-height: var(--min-table-size);
}

.aside {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1rem;
  min-width: 300px;
  flex-grow: 1;
}

.footer {
  height: 3rem;
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  border-radius: var(--br);
  border: 3px solid var(--secondary);
}
