:host {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 3px solid var(--secondary);
  border-radius: var(--br);
  background-color: var(--primary);
  height: var(--min-table-size);
  overflow: hidden;
  align-self: center;
  scrollbar-gutter: stable both-edges;
  display: grid;
  gap: 0.5rem;
  box-sizing: border-box;

  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: auto minmax(0, 1fr) auto;

  .movements {

    &__header,
    &__main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 1rem;
    }

    &__header {
      margin: 0.5rem 0;
      grid-area: header;
      .movements__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }
    &__main {
      align-items: start;
      height: min-content;
      max-height: 100%;
      grid-area: main;
      gap: 1rem;
      row-gap: 0.5rem;
      // overflow: auto;
      &:has(.movements__empty) {
        height: 100%;
        align-items: center;
      }
    }
    &__footer {
      margin: 0.5rem 0;
      grid-area: footer;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    &__img {
      height: 1.5rem;
      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
    &__white {
      grid-column: 1;
    }
    &__black {
      grid-column: 2;
    }
    &__item {
      display: inline-flex;
      align-items: end;
      transition: all ease 0.3s;
      padding: 0.1rem 0.5rem;
      border-radius: 1rem;
      outline: transparent 3px dashed;
      outline-offset: 3px;
      &--selected {
        outline: 2px dashed var(--secondary);
      }
      &--clickable {
        cursor: pointer;
        &.movements {
          &__white {
            &:hover {
              background-color: var(--white);
              color: var(--black);
              .movements__img {
                filter: drop-shadow(0 0 0 white) drop-shadow(0 0 2px black);
              }
            }
          }
          &__black {
            &:hover {
              background-color: var(--black);
              color: var(--white);
              .movements__img {
                filter: drop-shadow(0 0 0 white) drop-shadow(0 0 2px white);
              }
            }
          }
        }
      }
    }
    &__empty {
      grid-column: 1 / -1;
      justify-content: center;
      padding: 1rem;
      border-radius: var(--br);
      box-sizing: border-box;
      border: 3px var(--secondary) dashed;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
