<header class="movements__header">
  <span class="movements__item">White</span>
  <span class="movements__item">Black</span>
</header>
<main class="movements__main">
  @for (
    move of stateSvc.movements();
    track $index;
    let index = $index, even = $even
  ) {
    <article
      class="movements__item"
      [ngClass]="{
        movements__white: even,
        movements__black: !even,
      }"
    >
      <span>{{ index + 1 }}. </span>
      <span class="movements__img-wrapper">
        <img
          class="movements__img"
          [src]="move.imgSrc"
          [alt]="'Piece ' + move.piece.kind + ' ' + move.piece.color"
        />
      </span>
      <span>{{ move.row | uppercase }}</span>
      <span>{{ move.col | uppercase }}</span>
    </article>
  } @empty {
    <article class="movements__item movements__empty">
      <span>No movements yet</span>
    </article>
  }
</main>
<footer class="movements__footer">
  <button class="button__reset" (click)="newGame()">
    New Game
  </button>
</footer>
