<div class="table__wrapper">
  <div class="table">
    @for (
      row of boardPerspective();
      let rowIndex = $index;
      track row[0]().row
    ) {
      @for (cell of row; let colIndex = $index; track cell().col) {
        @let cellData = cell();
        @let cellColor = cellData.color;
        @let isLastRow = rowIndex === board.length - 1;
        @let isLastCol = colIndex === row.length - 1;
        @let isFirstRow = rowIndex === 0;
        @let isFirstCol = colIndex === 0;
        @let piece = cellData.piece;
        @let isTurn = isTurnPiece();
        <span
          class="cell__wrapper"
          [class]="
            'cell__wrapper-' + (cellData.col + cellData.row).toUpperCase()
          "
          (click)="onSelectCell(cell)"
        >
          @if (piece) {
            <chess-piece [piece]="piece" class="piece" />
          }
          @if (isLastCol) {
            <span
              class="coordinate coordinate--row"
              [ngClass]="{
                'coordinate--black': cellColor === 'white',
                'coordinate--white': cellColor === 'black',
              }"
            >
              {{ cellData.row }}
            </span>
          }
          @if (isLastRow) {
            <span
              class="coordinate coordinate--col"
              [ngClass]="{
                'coordinate--black': cellColor === 'white',
                'coordinate--white': cellColor === 'black',
              }"
            >
              {{ cellData.col }}
            </span>
          }
          <span
            class="cell"
            [class]="'cell-' + (cellData.col + cellData.row).toUpperCase()"
            [ngClass]="{
              'cell--not-turn-piece': !isTurn,
              'rounded-top-left': isFirstRow && isFirstCol,
              'rounded-top-right': isFirstRow && isLastCol,
              'rounded-bottom-left': isLastRow && isFirstCol,
              'rounded-bottom-right': isLastRow && isLastCol,
              'cell--white': cellColor === 'white',
              'cell--black': cellColor === 'black',
              'cell--selected': cellData.selected,
              'cell--highlight': {
                possiblePossitions: possiblePositionsMoves(),
                position: {
                  col: cellData.col,
                  row: cellData.row
                } } | hasPositionInArray,
            }"
          >
          </span>
        </span>
      }
    }
  </div>
</div>
