:host {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

.table {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  min-height: var(--min-table-size);
  min-width: var(--min-table-size);
  border-radius: var(--br);
  gap: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.cell {
  display: flex;
  position: relative;
  aspect-ratio: 1 / 1;
  min-width: var(--min-cell-size);
  min-height: var(--min-cell-size);
}

.cell-black {
  background-color: var(--black-cell);
}

.cell-white {
  background-color: var(--white-cell);
}

.row-value,
.col-value {
  position: absolute;
  font-size: 0.7rem;
  padding: 0.1rem;
  line-height: 0.5rem;
}
.row-value {
  bottom: 0;
  right: 0;
}

.col-value {
  bottom: 0;
  left: 0;
}

.text-black {
  color: var(--black-cell);
}

.text-white {
  color: var(--white-cell);
}

.rounded-top-left {
  border-radius: var(--br) 0 0 0;
}

.rounded-top-right {
  border-radius: 0 var(--br) 0 0;
}

.rounded-bottom-right {
  border-radius: 0 0 var(--br) 0;
}

.rounded-bottom-left {
  border-radius: 0 0 0 var(--br);
}
