:host {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  box-sizing: border-box;
  flex-grow: 1;
}

.table {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  min-height: var(--min-table-size);
  min-width: var(--min-table-size);
  border-radius: var(--br);
  flex-grow: 1;
  gap: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &__wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
  }
}

.piece {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.cell {
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url("/assets/images/utils/wood-pattern.png");
  background-size: contain;
  aspect-ratio: 1 / 1;
  min-width: var(--min-cell-size);
  min-height: var(--min-cell-size);
  transition: all ease 0.3s;
  &--black {
    background-color: var(--black-cell);
    &.cell {
      &--highlight {
        &:before {
          border: 3px solid var(--white-cell);
        }
      }
      &--selected {
        filter: brightness(1.7);
      }
    }
  }
  &--white {
    background-color: var(--white-cell);
    &.cell {
      &--highlight {
        &:before {
          border: 3px solid var(--black-cell);
        }
      }
      &--selected {
        filter: brightness(0.6) contrast(3);
      }
    }
  }
  &:before,
  &:after {
    border: 3px solid transparent;
    transition: border 0.3s;
  }
  &--highlight {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 80%;
    }
    &:not(.cell--not-turn-piece) {
      &::before {
        background-color: transparent;
        border-radius: 50%;
        opacity: 0.3;
        transform: translate(-50%, -50%);
        width: 80%;
      }
      &:after {
        background-color: transparent;
        display: none;
      }
    }
    &.cell--not-turn-piece {
      &:before,
      &:after {
        opacity: 1;
        border: none;
        content: "";
        width: 4px;
        background-color: var(--red-600);
        border-radius: 3px;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    min-width: var(--min-cell-size);
    min-height: var(--min-cell-size);
  }
}

.coordinate {
  z-index: 1;
  position: absolute;
  font-size: 0.7rem;
  padding: 0.1rem;
  line-height: 0.5rem;

  &--col {
    bottom: 0;
    left: 0;
  }
  &--row {
    bottom: 0;
    right: 0;
  }

  &--black {
    color: var(--black-cell);
  }
  &--white {
    color: var(--white-cell);
  }
}

.rounded {
  &-top {
    &-left {
      border-radius: var(--br) 0 0 0;
    }
    &-right {
      border-radius: 0 var(--br) 0 0;
    }
  }
  &-bottom {
    &-left {
      border-radius: 0 0 0 var(--br);
    }
    &-right {
      border-radius: 0 0 var(--br) 0;
    }
  }
}
